# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
leavemate/
venv/
.env/

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git files
.git
.gitignore
#render.yaml

# Node / frontend
node_modules/
